//====================================
// Global Imports
//====================================

// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';



/*  

* Please note:

* Missing fonts DINPro
* my adobe subscription does NOT show DINPro typekit and 
* I have used similar available font for demonstration purpose

* Due to time limit I have temporary created all 
* SCSS code on this main.scss w/o moving to their partials

*/

// base font
$font__regular : urw-din, sans-serif;
$font__condensed : urw-din-condensed, sans-serif;
$font__condensed-semi : urw-din-semi-condensed, sans-serif;

// theme colors
$color__black: #231f20;
$color__white: #fff;
$color__red: #f15b4c;


// We use Bootstrap framework for resets

// Elements (to be moved to its partials folders)
html,
body{
	font-size: 13px;
	font-family: $font__regular;
}

.btn--outline{
	color: $color__red;
	outline: 1px solid $color__red;
	padding: 1em 4em;
	display: inline-block;
	text-transform: uppercase;
	transition: all .2s ease-in;

	&:hover{
		color: $color__white;
		background-color: $color__red;
		text-decoration: none;
		outline: 0;
	}
}

.section-header{
	width: 45%;
	margin-bottom: 2rem;
}


.container{
	// outline: 1px solid #ccc;
}

.container--full{
	padding-left: 0;
	padding-right: 0;
}


// components (to be moved to its partials folders)

	// banner
.banner-top{
	outline: 1px solid;
	display:none;
	background: #231f20; 
	text-align: center;
	font-size: .9rem;
	color: $color__white;
	text-transform: uppercase;
	line-height: 40px;	// banner height

	@media (min-width: 768px){
		display: inherit;	
	}

	a{
		color: $color__white;
		font-weight: 600;
		text-decoration: underline;
	}
}

	// header ( to be moved to layout > header partials )
$header__height: 70;
$nav__height: 32;
$carticon__height: 16;

.header{
	// outline: 1px solid;

	a{
		color: $color__black;
	}

	&_outer-wrap{
		// padding-top: ($header__height - $nav__height) / 2 +px;
		min-height: $header__height+px;
	} 

	&_login-link{
		line-height: $header__height+px;
		text-align: center;
	}

	&_cart-link{
		text-align: center;

		span{
			color: $color__red;
			display: block;
			width: $carticon__height * 2.25 +px;
			line-height: $header__height+px;
			text-align: right;
			background-image: url('../images/cart-icon.svg');
			background-repeat: no-repeat;
			background-position: left center;

		    &:before{
		    	content: '(';
		    }
		    &:after{
		    	content: ')';
		    }
		}

		&:hover{
			color: $color__red;
			text-decoration: none;
		}
	
		&.filled span{
			background-image: url('../images/cart-icon-filled.svg');
		}
	}


}


// navigation
.nav-main{
	// outline: 1px solid red;

	&_ul{
		// outline: 1px solid;
	}

	&_item{
		font-size: 1rem;
		text-transform: uppercase;
		// outline: 1px solid red;
		
		&--logo.nav-item{
			order: -1;
			flex: 1 1 100%;
			@media (min-width: 1024px){
				order: initial;
				flex: 1 1 auto;
			}
			img{
				width: 90%;
				max-width: 320px;
				height: auto;
			}
		}
	
		& > a {
			color: $color__black;
			padding: 0 .1rem;
			line-height: $header__height+px;

			&:hover{
				color: $color__red;
			}
		}

	}


}


// dropdown menu
.nav-sub {
    position: absolute;
    left: -10%;
    width: 120%;
    text-align: left;
    padding-left: 10%;
    background-image: url('../images/nav-bg.jpg');
    background-color: $color__white;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    
  	opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translateY(1%);
  	transition: all 0.3s ease-in-out .3s, visibility .3s linear 0.3s, z-index .1s ease-in .3s;

    .nav-sub_col{
		display: inline-block;
    	margin: 3% 6% 3% 0;
    	vertical-align: top;
    }
	
	&_item{
		list-style: none;
		line-height: 2.5rem;
		text-transform: initial;

		&:first-child{
			text-transform: uppercase;
		}

		&:hover a,
		a:hover {
			color: $color__red;
			text-decoration: none;
		}
	}
}

	// show-hide
.nav-main_item:hover .nav-sub,
.nav-sub:hover {
  	opacity: 1;
	visibility: visible;
  	z-index: 1;
  	transform: translateY(0%);		
}


// hero
.hero{
	.carousel-item{

	}

	.carousel-caption{
		color: $color__black;
		text-align: left;
		width: 35%;
		top: 20%;

		h5{
			font-size: 3rem;
		    letter-spacing: 0;
		    margin-bottom: 1rem;
		    text-transform: uppercase;
		}

		p{
			font-size: 1.1rem;
			margin-bottom: 2em;
		}

		&--right{
			left: initial;
			right: 8%;
		}

		&--left{
			right: initial;
			left: 8%;
		}

		&--center{
			text-align: center;
			right: initial;
			left: 50%;
    		transform: translateX(-50%);
		}
	}
}


// the box
// using only css for the test

.the-box{
	&.container--the-box {
	    padding: 4rem;
	    text-align: center;
	}

	.the-box_col-wrap {
	    width: 70%;
	    margin: 3rem auto 4rem;
		
		display: flex;
		flex-direction: row;
  		justify-content: space-around;
		align-items: center;
	}

	.the-box_col-item{
		position: relative;
	    min-height: 120px;
	    flex: 0 1 30%;
	    text-align: left;
	
		&::before{
			color: $color__red;
			font-size: 11em;
		    font-weight: 600;
		    line-height: 0em;
		    
		    position: absolute;
		    right: 0;
    		bottom: 50%;
		}
	
		span{
			position: absolute;
			margin-top: 20%;
			width: 85%;

			h5{
				text-transform: capitalize;
				&::after{
					content: '';
					width: 100%;
					display: block;
					border-bottom: 1px solid $color__black;
				}
			}

			p{
				max-width: 45%;
			}
		}
	}
	

}

$items : 3;
@for $i from 0 to $items {
	.the-box_col-item:nth-child(#{$i + 1})::before {
     	content: "0#{$i+1}";
  	}
}