<!-- header top-bar Ad -->
<section class="banner-top container container-fluid">
	FREE SHIPPING ON YOUR FIRST ORDER AND ANY ORDER OVER <a href="#" role="ad">$89 Click to see details</a> 
</section>

<!-- header -->
<header id="header" class="header container">
	
	<div class="header_outer-wrap row">

		<a id="loginlink" class="header_login-link col-md-1" href="#" role="login">Log In</a>
		
		<section class="header_middle-wrap col-md-10">			
			
		include nav

		</section>

		<a class="header_cart-link filled col-md-1" href="#" role="cart"><span>2</span></a>
	
	</div><!-- #header-outer -->

</header><!-- #header -->