<!-- HOME CONTENT -->
<section class="the-box container--the-box container">
	
	<div class="section-header section-header--the-box container">
		<h2>You buy it by the box</h2>
		<p>Choose 7-8 products of your liking and have it delivered to your door as often as you want. Your pick, every time.</p>
	</div>
	
	<div class="the-box_col-wrap container">
			<div class="the-box_col-item">
				<span>
					<h5>Build Your Box</h5>
					<p>choose your favorites</p>
				</span>
			</div>
			<div class="the-box_col-item">
				<span>
					<h5>Subscribe Or Don't</h5>
					<p>save when you do </p>
				</span>
			</div>
			<div class="the-box_col-item">
				<span>
					<h5>Pick a Delivery Day</h5>
					<p>we ship overnight</p>
				</span>
			</div>
	</div>
	
	<a href="#" class="btn--outline">Shop The Menu</a>

</section>